<div class="container">
    <div class="box">
    <div class="card m-5">
        <div class="row">
        <div class="col-md-7">
            <img src={{universityObj.image}} alt="" width="100%" height="100%">
        </div>

        <div class="col-md-5 card-body">
            <h2 class="heading text-center">{{universityObj.name}}</h2>
            <hr>
            <h3 class="rank text-center">QS World Rank: {{universityObj.ranking}}</h3>
            <hr>
            <h4 class="about">{{universityObj.about}}</h4>
        
            <h5 class="address">Address: <a href="#">{{universityObj.address}}</a></h5>
            <h5 class="phone">PHONE: <a href="#">{{universityObj.phone}}</a></h5>

        </div>
    </div>
    </div>
</div>
</div>
