<div class="card">
    <img src="https://www.thespruceeats.com/thmb/SalyKjzBU-K1Bv-FTFWnbd6ckjY=/2121x1414/filters:fill(auto,1)/GettyImages-639704020-5c4a63ecc9e77c00017bfebf.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SPECIAL CHICKEN BIRYANI</h5>
      <h3 class="card-title">HOTEL SWAGATH GRAND</h3>

        <i class="far fa-star p-1"></i> 4.1 . 36 MINS . <i class="fas fa-rupee-sign"></i>600 for two
        <hr>
        <i class="fas fa-utensils"></i> 40% OFF | Use TRYNEW
        <hr>
        <p><i class="fas fa-map-marked-alt"></i>. <i class="fas fa-rupee-sign"></i>27 distance fee applicable</p>

      <a href="#" class="btn btn-success d-block m-1">BUY NOW</a>
    </div>
  </div>
