<div class="row mb-3">
    <div class="col-sm-2 col-md-4"></div>
        <div class="col-sm-8 col-md-4">
    <form class="text-center p-4">
        <h1 class="text-center">LOG IN</h1>
        <div>
        <label for="email">E-mail</label>
        <br>
        <input type="email" name="email" id="email" placeholder="xxxxxxxxx@gmail.com"  class="form-control">
        </div>
        <div>
        <label for="pw">Password</label>
        <br>
        <input type="password" name="password" id="pw" class="form-control">
        </div>
        <div class="m-1">
            <input type="checkbox" onclick="myFunction()"> Show Password
        </div>
        <b>Or Sign UP using</b>
        <div class="social">
            <a href="#"><i class="fab fa-twitter"></i></a> 
            <a href="#"><i class="fab fa-google-plus-g"></i> </a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <div>
            <button class="btn btn-warning m-2">Log In</button>
        </div>
    </form>
    </div>
    <div class="col-sm-2 col-md-4"></div>
</div>