h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
    color: honeydew;
    background-color: #266150;
}
.active{
    font-weight: bold;
}
.navbar{
    background-color: bisque;
}