<div class="parent">
    <ul class="nav nav-pills nav-justified mt-2 mb-2 p-2 bg-dark">
        <li class="nav-item m-1">
          <a class="nav-link" routerLink="cs" routerLinkActive="active">Computer Science</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" routerLink="ds" routerLinkActive="active">Data Analytics & Statistics</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" routerLink="bnm" routerLinkActive="active">Business and Management</a>
        </li>
      </ul>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
</div>

