<div class="main p-3 mb-4">
    <h1>RESTLESS LEARNERS</h1><h1 class="second"> CHANGE THE WORLD</h1>
    <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="search over 300+ courses" aria-label="First name">
        </div>
        <div class="col">
          <button class="btn btn-info"><b>Search</b></button>
        </div>
      </div>
      <br>
      <h2><a href="#">Explore More</a></h2>
      <h2><a href="#">Learn over 160+ member universities</a></h2>
</div>